

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.standard-input:focus {
  background-color: lightyellow;
}

.make-eighty-width {
  width: 80%;
}

.text-centered {
  text-align: center;
}
