

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.standard-input:focus {
  background-color: lightyellow;
}

.make-eighty-width {
  width: 80%;
}

.text-centered {
  text-align: center;
}

.standard-checkbox, input[type="checkbox"] {
  margin-right: 6px;
  margin-bottom: 0px;
  vertical-align: middle;
}
